body {
  margin: 0;
  font-family: Arial;
  background: #141414;
  color: white;
}

header {
  background: black;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

.movies {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.movie {
  cursor: pointer;
}

.movie img {
  width: 180px;
  border-radius: 8px;
}

#player {
  text-align: center;
  margin-top: 20px;
}

video {
  width: 80%;
  max-width: 700px;
}
